<article class="message is-warning">
  <div class="message-body">
    Sorry there don't seem to be any Polaroids to display, first you need to <a><%= link_to "Create a Polaroid", new_path %></a>
  </div>
</article>