<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <p class="title"> Create a new Polaroid </p>
                        <p class="subtitle"><%= link_to "Create", new_polaroid_path %></p>
                    </article>
                    <article class="tile is-child box">
                        <p class="title"> Edit an existing Polaroid </p>
                        <p class="subtitle"> Some description </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <div class="card">
                        <div class="image is-square">
                            <img src="https://bulma.io/images/placeholders/480x480.png">
                        </div>
                        <div class="polaroid-content">
                            <div class="card-content">
                    
                                <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Example Title</p>
                                </div>
                                </div>
                    
                                <div class="content">
                                    <p> Example Comment Section </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title"> Another Link </p>
                    <p class="subtitle"> Some description </p>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title"> Another Link </p>
                <p class="subtitle"> Some description </p>
            </article>
        </div>
    </div>
</div>
