<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <p class="title"> Create a new Polaroid </p>
                        <p class="subtitle"><%= link_to "Create", new_path %></p>
                    </article>
                    <article class="tile is-child box">
                        <p class="title"> Edit an existing Polaroid </p>
                        <p class="subtitle"> Some description </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title"> Example Polaroid </p>
                        <p class="subtitle"> Some description </p>
                        <figure class="image is-1by1">
                            <img src="https://bulma.io/images/placeholders/480x480.png">
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title"> Another Link </p>
                    <p class="subtitle"> Some description </p>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title"> Another Link </p>
                <p class="subtitle"> Some description </p>
            </article>
        </div>
    </div>
</div>
