// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    .form {
        width: 60%;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin: 0 1rem 1rem 0;
        background-color: rgb(40, 40, 40);
        border-radius: 8px;
        filter: grayscale(75%);

        &:hover {
            filter: none;

            .title {
                color: #f14668
            }

            .card-footer {
                color: #f14668;
            }
        }

        .polaroid-content {
            position: absolute;
            bottom: 0px;
            color: white;

            .card-content {
                color: white;

                .title {
                    color: white;
                }
            }
        }

        .card-image {
            padding: 1rem 1rem 15rem;
        }

        .card-footer {
            background-color: white;
            width: 100%;
        }
    }
 }